/* styles*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* Modo Escuro */
body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.dark-mode header {
    background-color: #1e1e1e;
}

#dark-mode-toggle {
    cursor: pointer;
    font-size: 24px;
    color: #0095DF; 
    margin-left: 20px;
}

body.dark-mode #dark-mode-toggle {
    color: #ffffff; 
}


/* Header */
header {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

header .logo {
    height: 100px;
    margin-right: 20px;
}

header .header-content {
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header .slogan {
    margin: 10px 0 0;
    font-size: 1.2em;
    font-style: italic;
}

header .header-buttons {
    display: inline-block; 
    margin-right: 10px; 
}

.cta-button {
    background-color: #0095DF;
    color: white;
    border: none;
    padding: 3px 6px;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #007BB5;
}

/* Main */
main {
    padding: 5px;
}
.bgimage {
    background-image: url('./img/escudo.jpg'); 
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

section.sobre, section.Renato {
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

section.sobre h2, section.Renato h2 {
    color: #0095DF;
}

section.sobre p, section.Renato p {
    margin: 10px 0 0;
}

.foto-legenda, .foto-legenda2 {
    display: inline-block;
    margin-right: 10px;
}

.foto-legenda img, .foto-legenda2 img {
    height: 500px;
    max-width: 100%;
    border-radius: 5px;
}

.foto-legenda2 img {
    height: 180px;
}

/* Carrossel */
.carrossel {
    margin: 0 auto;
    padding: 20px;
}

.carrossel-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.owl-carousel .item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carrossel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrossel-imagem {
    width: 200px; 
    height: 200px; 
    background-size: cover;
    background-position: center;
    margin-bottom: 10px;
}

.carrossel-texto {
    text-align: center;
}

.btn.btn-primary {
    background-color: #0095DF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn.btn-primary:hover {
    background-color: #007BB5;
}

/* Ajuste das setas */
.owl-nav .owl-prev, .owl-nav .owl-next {
    color: white !important;
    background-color: #0095DF !important;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
}

.owl-nav .owl-prev {
    left: -50px;
}

.owl-nav .owl-next {
    right: -50px;
}


/* Galeria */
#galeria {
    margin-top: 20px;
}

#galeria h2 {
    text-align: center;
    margin-bottom: 10px;
}

#galeria img {
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px;
    
}

#galeria img:hover {
    cursor: pointer;
    opacity: 0.8;
       
}


#modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

#modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

#modal .close:hover,
#modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#modal img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Contato */
.container {
    padding: 20px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.column {
    flex: 1;
    padding: 10px;
}

.cardBody {
    background-color: #0095DF;
    color: white;
    padding: 10px 20px ; 
    border-radius: 5px;
    margin-bottom: 10px;
}

.cardBody h4 {
    margin-top: 0;
}

/* Adicionar uma classe para ajustes específicos em mobile */
@media (max-width: 768px) {
    .container {
        padding: 10px; 
    }

    .cardBody {
        padding: 10px 15px; 
    }
}
/* Loja e Seja Sócio */
.section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 20px;
}

.section-logo {
    margin-bottom: 20px;
}

.section-logo img {
    width: 100%; 
    max-width: 300px; 
}

.section-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
}

.section-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
    max-width: 600px; 
}

.section-form label,
.section-form input,
.section-form button {
    margin-bottom: 10px;
    width: 100%; 
}

.section-form input,
.section-form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.section-form button {
    background-color: #0095DF;
    color: white;
    border: none;
    cursor: pointer;
}

.section-form button:hover {
    background-color: #007BB5;
}


.section-form button,
#consultarBtn {
    padding: 10px; 
    border-radius: 5px;
    background-color: #0095DF;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%; 
}

#consultarBtn:hover {
    background-color: #007BB5;
}

/* Visualização de consulta de mercadorias */
#consultaView {
    text-align: center; 
}

#consultaView ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

#consultaView ul li {
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    text-align: left; 
    width: 100%; 
    max-width: 600px; 
}

#consultaView ul li .fa-edit,
#consultaView ul li .fa-trash {
    margin-left: 10px;
    cursor: pointer;
    color: #0095DF;
}

#consultaView ul li .fa-edit:hover,
#consultaView ul li .fa-trash:hover {
    color: #007BB5;
}


.section-history ul {
    list-style-type: none;
    padding: 0;
}

.section-history ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-history ul li .fa-edit,
.section-history ul li .fa-trash {
    margin-left: 10px;
    cursor: pointer;
    color: #0095DF;
}

.section-history ul li .fa-edit:hover,
.section-history ul li .fa-trash:hover {
    color: #007BB5;
}

/* Responsividade */
@media (max-width: 768px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .section-logo, .section-form {
        max-width: 100%;
        margin: 0;
    }
}



/* Footer */
.footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
